@import '@portfolio/client/src/styles/theme.module.scss';

.root {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  width: min-content;
  align-self: center;
  direction: rtl;

  @media only screen and (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.galleryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
  padding-bottom: 5rem;

  &:nth-child(4n) {
    padding-right: 0.5em;
  }

  &:nth-child(3n) {
    padding-top: 0.5em;
  }

  &.topDescription {
    direction: ltr;
    padding-right: 2em;
    padding-left: 5em;
    padding-top: 5em;

    & .title {
      font: $heading-font;
    }

    & .pageDescription {
      margin-top: 1.4rem;
      padding: 0px 0px 0px 5px;
      font: $sub-heading-font;
    }
  }

  direction: ltr;
}

.details {
  margin-left: 10rem;
  width: 15vw;
  font: $details-description;

  & strong {
    font: $details-title;
  }

  @media only screen and (max-width: $mobile-width) {
    width: auto;
    margin-inline: 2rem;
  }
}

.backToTop {
  float: right;
  margin: 4rem;
  font: $nav-font;
}
